{{define "imgBlock"}}
<div class="mainBlock">
    <p class="thumb">
        <img alt="Фотография 1" src="fon2.jpg">
        <img alt="Фотография 2" src="fon2.jpg">
        <img alt="Фотография 3" src="fon2.jpg">
        <img alt="Фотография 4" src="fon2.jpg">
        <img alt="Фотография 1" src="fon2.jpg">
        <img alt="Фотография 2" src="fon2.jpg">
        <img alt="Фотография 3" src="fon2.jpg">
        <img alt="Фотография 4" src="fon2.jpg">
    </p>
    <div class="mainBlockControl">
        <ul class="prevCurrNext">
            <li><a href="#">Prev</a></li>
            <li><a href="#">Next</a></li>
            <li><a href="#">О нас</a></li>
        </ul>
    </div>
</div>
{{end}}