{{define "imgBlock"}}
<div class="mainBlock">
    <p class="thumb">
        <img  src={{.Data}} alt="Blank"/>
    </p>
    <div class="mainBlockControl">
        <ul class="prevCurrNext">
            <li><a href="#">Prev</a></li>
            <li><a href="#">Next</a></li>
            <li><a href="#">О нас</a></li>
        </ul>
    </div>
</div>
{{end}}