{{define "imgBlock"}}
<div class="bodyIndexBlock">
    <div class="imagesArray">
        <div class="container">
            <img alt="Blank" border=1 class="imageInimagesArray" src="{{.ImagePlus}}"/>
            <div class="textInimagesArrayWrapper">
                <div class="imagesArrayText"><a href="/loadImg"><b>Загрузить</b></a></div>
            </div>
        </div>
        {{range .ImagesArr}}
        <div class="container">
            <img alt="Blank" class="imageInimagesArray" src={{.Data}}/>
            <div class="textInimagesArrayWrapper">
                <div class="imagesArrayText"><a href="/viewImg?id={{.Id}}"><b>Посмотреть</b></a></div>
            </div>
        </div>
        {{end}}
    </div>

    <div class="bottomBlockControl">
        <div class="prevCurrNext">
            <a class="previous" href="{{.PagePrev}}">&laquo; Назад</a>
            <a class="next" href="{{.PageNext}}">Вперед &raquo;</a>
        </div>
    </div>
</div>
{{end}}