{{define "imgBlock"}}
<div class="bodyIndexBlock">
    <div class="imagesArray">
        <a href="/loadImg"><img alt="Blank" border=1 src="{{.ImagePlus}}"/></a>
        {{range .ImagesArr}}
        <a href="/viewImg?id={{.Id}}"><img src={{.Data}} alt="Blank"/></a>
        {{end}}
    </div>

    <div class="bottomBlockControl">
        <div class="prevCurrNext">
            <a class="previous" href="{{.PagePrev}}">&laquo; Назад</a>
            <a class="next" href="{{.PageNext}}">Вперед &raquo;</a>
        </div>
    </div>
</div>
{{end}}