{{define "imgBlock"}}
<div class="mainBlock2">
   <form enctype="multipart/form-data" method="post" action="/loadImage2" class="downloadBlock">
   <p>Загрузите ваши фотографии на сервер</p>
   <p><input type="file" name="photo" multiple accept="image/*,image/jpeg">
   <input type="submit" value="Отправить"></p>
  </form>
</div>
{{end}}